{% extends "base.html" %}

{% block title %}boocGoer{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/shout.js"></script>
{% endblock %}

{% block content %}

<div id="yes-location">
  
  <div id="post">
  
    <div id="map"><img /></div>

    <div id="shout-form">
      <form name="shout" id="shout">
        <p>
          <label for="booklist">Book List</label><br />
          <input type="text" name="booklist" id="booklist" />
        </p>
        <p>
          <label for="bldate">Book List Date</label><br />
          <input type="text" name="bldate" id="bldate">
        </p>

        <p>
          <input type="submit" name="submit" value="boocGoer!" />
        </p>
      </form>
    </div>

    <div id="shout-table">
      
      <table>
      <tr>
        <th>   RANK   </th>
        <th>   TITLE   </th>
        <th>   ISBN    </th>
        <th>   BOOKLIST    </th>
        <th>   DATE    </th>
      </tr>  
      <tr>
        <th>      </th>
        <th>   (Click for amazon.com)   </th>
        <th>   (Click for NYPL.org)    </th>
        <th>     </th>
        <th>      </th>
      </tr> 
      {% for shout in shouts %}
      <tr>
        <th> {{shout.id}}</th>
        <th> <a href="http://www.amazon.com/s/ref=nb_sb_noss?url=search-alias%3Dstripbooks&field-keywords={{shout.isbn}}" >{{shout.title}}</th>
        <th> <a href="http://catalog.nypl.org/search~S1/?searchtype=i&searcharg={{shout.isbn}}" >{{shout.isbn}}</th>
        <th> {{shout.booklist}}</th>
        <th> {{shout.bldate}}</th>
      </tr>

      {% endfor %}
      </table>
    </div>



  
  </div>
  
  <div id="view">
    
    <div id="control">
      <form name="update_radius" id="update_radius">
        <input type="text" name="radius" id="radius" value="1" />
        <input type="submit" name="submit" value="Update Radius" />

      </form>
    </div>
      






    
    
    <div id="shouts"></div>
    
  </div>
  
  <div style="clear:both;"></div>

</div>

<div id="no-location">Ah darn, we couldn't get your location!</div>
{% endblock %}